<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <header>
        <h1>Weather Station Dashboard 🌤️</h1>
    </header>
    
    <main>
        <section class="weather-info">
            <h2>Current Weather</h2>
            <div id="weather-data">
                <p>Altitude: <span id="altitude">--</span> m</p>
                <p>Temperature: <span id="temperature">--</span> °C <span id="weather-emoji">🌥️</span></p>
                <p>Humidity: <span id="humidity">--</span> %</p>
                <p>Pressure :</span id="pressure">--</span> pa</p>
                
            </div>
            <button id="fetch-weather">Get Weather</button>
        </section>
    </main>

    <footer>
        <p> Weather Station</p>
    </footer>
</body>
</html>